*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5, h6{
  font-weight: 700;
}


/* Masthead */
.masthead{
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #333 0%, #222 100%);
}

.btn-xl {
  padding: 1.15rem 2.20rem;
  font-size: 1.25rem;
}

.btn-outline-primary {
  transition: background-color 0.5s, color 0.5s;
  margin-right: .5rem;
}

.btn-outline-primary:hover {
  background-color: #007BFE;
  color: white; 
}

.btn-outline-secondary{
  transition: background-color 0.5s, color 0.5s;
}

.btn-outline-secondary:hover {
  background-color: #6C757D;
  color: white;
}

.content-section {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

/* Project card */

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-card{
  border: 1px solid gainsboro;
}

/* Footer */

#contact {
  min-height: 80vh;
  background: linear-gradient(-45deg, #333 0%, #222 100%);
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.social-link {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  transition: background-color .25s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.social-link:hover {
  background-color: #007BFE;
  color: white;
}

/*Back to the top Button*/
#backToTheTopBtn{
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,.3);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 25%;
  font-size: 1.5rem;
}

#backToTheTopBtn:hover{
  background-color: #555;
}

i.fa-angle-up::before {
  position: absolute;
  left: 0;
  top: 7px;
  height: 100%;
  width: 100%;
}


/* Media queries */
@media (max-width: 600px) { 
  h1, h2, h3{
    font-size: 1.5rem;
  }
}

@media (max-width: 991px){
  .padding-on-mobile{
    padding: 0.5rem 0.5rem 0.5rem;
  }
}

@media (min-width: 991px){
  .row{
    margin: 0;
  }
}

@media (max-width: 375px){
  div a.btn-outline-primary { 
    margin-bottom: 0.5rem;
  }
}